<app-hero-section
  [backgroundImage]="'assets/images/productsPage.png'"
  [title]="'products.hero.title' | translate"
  [subtitle]="'products.hero.subtitle' | translate"
>
</app-hero-section>

<div class="container">
    <!-- Section 1: Smart Home Products - بدون فلترة -->
    <app-product-slider
      [title]="'products.sections.smartHome.title' | translate"
      [products]="smartHomeProducts"
      [showFilters]="false"
      [showDots]="true">
    </app-product-slider>

    <!-- Section 2: Lighting Products - مع فلترة -->
    <app-product-slider
      [title]="'products.sections.lighting.title' | translate"
      [products]="lightingProducts"
      [filterTabs]="lightingFilters"
      [showFilters]="true"
      [showDots]="true">
    </app-product-slider>

    <!-- Section 3: Cables & Accessories - مع فلترة -->
    <app-product-slider
      [title]="'products.sections.cables.title' | translate"
      [products]="cablesProducts"
      [filterTabs]="cablesFilters"
      [showFilters]="true"
      [showDots]="true">
    </app-product-slider>

</div>