  <app-hero-section
    [backgroundImage]="'assets/images/partner-hero.png'"
        [title]="'partner.hero.title' | translate"
    [subtitle]="'partner.hero.subtitle' | translate"
    [buttonText]="'partner.hero.buttonText' | translate"
  >
 
  </app-hero-section>
  <div class="container">
    <app-why-partner></app-why-partner>
  </div>
<app-partners-section></app-partners-section>
  <div class="container">
      <app-contact-form
      [title]="'partner.contactForm.title' | translate"
      [subtitle]="'partner.contactForm.subtitle' | translate"
      [buttonText]="'partner.contactForm.buttonText' | translate"
    >
    </app-contact-form>
  </div>