 <app-hero-section
    [backgroundImage]="'assets/images/partner-hero.png'"
        [title]="'Be a Partner'"
    [subtitle]="'Together, we can create smarter, more sustainable environments across Saudi Arabia and beyond.'"
    
  >
 
  </app-hero-section>
  <div class="container">
    <app-why-partner></app-why-partner>
  </div>
<app-partners-section></app-partners-section>
  <div class="container">
      <app-contact-form
      title="Ready to start a partnership with Life Tech"
      subtitle="Fill out the form below and let’s shape the future together."
      buttonText="Send Message"
    >
    </app-contact-form>
  </div>